<div class="npc">
  <div class="circulo" [class]="mao1()"></div>
  <div class="circulo" [class]="mao2()"></div>
</div>

<div class="card-mao">
  <div *ngFor="let carta of gameService.maoNpc.cartas">
    <div class="card">
      <div class="card-body">
        <img
          class="image"
          [src]="gameService.exibirCarta(carta.value, carta.suit.sigla)"
        />

        <div class="button passar-mouse" (click)="descartar(carta)" *ngIf="!gameService.isTurnoJogador">
          <div class="mostrar">Descartar</div>
        </div>
      </div>
    </div>
  </div>
</div>
