.row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.col-8 {
  flex: 1 1 66.66667%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-4 {
  flex: 1 1 33.33333%;
  padding-right: 15px;
  padding-left: 15px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  flex: 0 0 calc(25% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0069d9;
}
